<%= error_messages_for(@secret) %>
<table summary="Secret form fields">
  <tr><th><%= f.label(:title) %></th><td><%= f.text_field(:title) %></td></tr>
  <tr><th><%= f.label(:content) %></th><td><%= f.text_area(:content, :size=>'40*20') %></td></tr>
  <!-- <tr><th>Publish</th><td><%= f.text_field(:publish) %></td></tr> -->
  <!-- <tr><th><%= f.label(:publish) %></th><td>true:<%= f.radio_button(:publish, "true") %> false:<%= f.radio_button(:publish, "false") %></td></tr> -->
 <!-- <tr><th><%= f.label(:publish) %></th><td><%= f.check_box(:publish) %></td></tr> -->
  <tr><th><%= f.label(:publish) %></th><td><%= f.select(:publish,{"yes"=>1, "no"=>0}) %></td></tr>
</table>