<% @page_title = User.find(@user_id).username %>

<%= link_to("Create New Secret", {:action =>'new', :user_id=>@user_id}) %>
<table> <!-- style="border:1px solid black" -->
  <tr>
    <th> title</th>
    <th> content</th>
    <th> publish</th>
    <th> created</th>
    <th> updated</th>
    <th>operate</th>
  </tr>
  <%  @secrets.each do |secret| %>
  <tr>
    <td><%= secret.title %></td>
    <td><%= secret.content %></td>
    <td><%= secret.publish %></td>
    <td><%= secret.created_at.localtime  %>
    <td><%= secret.updated_at.localtime %></td>
    <td>
      <%= link_to("Edit", {:action =>'edit', :id=>secret.id, :user_id=>@user_id}, :class=>'action edit') %> |
      <%= link_to("Delete", {:action =>'delete', :id=>secret.id, :user_id=>@user_id}, :class=>'action delete', data: {confirm: "Sure to delete?"})  %>
    </td>
    </td>
  </tr>

  <% end %>
</table>

<%= link_to("Log out", {:controller=>'user', :action =>'logout'}, :class=>'action logout') %>