<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "" %> Secrets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- display notice -->
<% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
<% end %>

<!-- before yield -->
<%= yield %>
<!-- after yield -->
</body>
</html>
